@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div style="margin-left:30px; margin-right:50px; margin-top:50px;">
    <table class="table  table-hover table-bordered" style="margin-left:20px;">
        <thead>
            <tr>
                <th scope="col">Yorum No</th>
                <th scope="col">Yorum İçeriği</th>
                <th scope="col">Yorum Sahibi</th>
                <th scope="col">Onay Durumu</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td>Otto</td>
                <td>
                    Onaylı
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-left:500px;">
                        <button type="button" class="btn btn-danger">Sil</button>
                        <button type="button" class="btn btn-warning">Onay Kaldır</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                    Onaysız
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-left:500px;">
                        <button type="button" class="btn btn-danger">Sil</button>
                        <button type="button" class="btn btn-success">Onayla</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>John</td>
                <td>Doe</td>
                <td>
                    Onaysız
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-left:500px;">
                        <button type="button" class="btn btn-danger">Sil</button>
                        <button type="button" class="btn btn-success">Onayla</button>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

</div>
