@{
    Layout = "_Layout";
}

<div>
    <form method="post" asp-controller="Auth" asp-action="UserLogin" >
        <h3>Giriş yap</h3>
        <br />
        <br />
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email">
            <div id="emailHelp" class="form-text">Email boş bırakılamaz !</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"  >Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="Password">
        </div>
        <div class="mb-3 form-check">
         <button type="submit" class="btn btn-success">Giriş</button>
    </form>

</div>