@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div style="margin-left:30px; margin-right:50px; margin-top:50px;">
    <table class="table  table-hover table-bordered" style="margin-left:20px;">
        <thead>
            <tr>
                <th scope="col">Kategory Id</th>
                <th scope="col">Kategori Başlığı</th>
                <th scope="col">Kategori Açıklaması</th>
                <th scope="col">Kategori İkonu</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">1</th>
                <td>Yemek</td>
                <td>Ev yemekleri</td>
                <td>
                    fa-fa
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-left:500px;">
                        <a type="submit" class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="id">Sil</a>
                        <a type="submit" class="btn btn-warning" asp-controller="Category" asp-action="Edit" asp-route-id="id">Düzenle</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Meyve</td>
                <td>Tropik Meyveler</td>
                <td>
                    fa-fa
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-left:500px;">
                        <a type="submit" class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="id">Sil</a>
                        <a type="submit" class="btn btn-warning" asp-controller="Category" asp-action="Edit" asp-route-id="id">Düzenle</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>İçecek</td>
                <td>Asitli içecekler</td>
                <td>
                    fa-fa
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-left:500px;">
                        <a type="submit" class="btn btn-danger" asp-controller="Category" asp-action="Delete">Sil</a>
                        <a type="submit" class="btn btn-warning" asp-controller="Category" asp-action="Edit">Düzenle</a>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

</div>
