@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:50px; margin-right:200px;">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Silinecek Ürün Kodu :</label>
            <input type="text" class="form-control" id="categoryName">
        </div>
        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Ürünü Sil</button>
    </form>
</div>
