@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-left:30px;">
    <div class="card mb-3" style="width: 1500px; height: 800px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?semt=ais_hybrid&w=740" class="img-fluid rounded-start" alt="" style="width:400px; height:400px;">
            </div>
            <div class="col-md-7">
                <div class="card-body">                   
                    <div class="card" style="width: 36rem;">
                        <div class="card-header py-4 fs-5">
                            kullaniciadı.example
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-4 fs-5">Umut Polat</li>
                            <li class="list-group-item py-4 fs-5 ">example@gmail.com</li>
                            <li class="list-group-item py-4 fs-5 ">Blog Moderatör</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
